{%extends "layout.html"%}

{%block title %}
    history
{% endblock %}

{% block main %}
        <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {%for txn in txns%}
                <tr>
                    <td class="text-start">{{txn["stock"]}}</td>
                    {% if txn["txn_type"] == "SELL" %}
                        <td class="text-end">-{{txn["shares"] | usd}}</td>
                    {%else%}
                        <td class="text-end">{{txn["shares"] | usd }}</td>
                    {% endif %}
                    <td class="text-end">{{txn["purchasePRICE"] | usd}}</td>
                    <td class="text-end">{{txn["timeStamp"]}}</td>
                </tr>
            {%endfor%}
        </tbody>
        </table>

{%endblock%}
