{% extends "layout.html" %}

{% block title %}
    buy
{% endblock %}

{% block div %}
    {% set messages = get_flashed_messages() %}
    {% if messages %}
        <!-- <div class="alert alert-primary mb-0 text-center" role="alert">

        </div> -->
    {% endif %}
{% endblock %}
{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
       <tbody>
        {% for stock in stock_price%}
                <tr>
                    <td class="text-start">{{stock["stock"]}}</td>
                    <td class="text-end">{{stock["TotalQuantity"]}}</td>
                    <td class="text-end">${{stock["current_price"]}}</td>
                    <td class="text-end">${{stock["total_price"]}}</td>
                </tr>
        {%endfor%}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">${{left_cash}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">${{total_money}}</td>
            </tr>
        </tfoot>
    </table>

        </main>
{% endblock %}
